pkgbase = iio-sensor-proxy
	pkgdesc = IIO accelerometer sensor to input device proxy (with libssc support)
	pkgver = 3.9
	pkgrel = 6
	url = https://gitlab.freedesktop.org/hadess/iio-sensor-proxy
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = meson
	makedepends = gcc
	makedepends = gtk-doc
	makedepends = umockdev
	depends = dbus
	depends = glib2
	depends = libgudev
	depends = libssc>=0.2.2
	depends = polkit
	depends = systemd
	provides = iio-sensor-proxy-pipa
	conflicts = iio-sensor-proxy-pipa
	source = https://gitlab.freedesktop.org/hadess/iio-sensor-proxy/-/archive/0085ddf8ecb173a1c5fcf2344aa40e561125354f/iio-sensor-proxy-0085ddf8ecb173a1c5fcf2344aa40e561125354f.tar.gz
	source = 0001-iio-sensor-proxy-Do-not-exit-based-on-sensor-events.patch
	source = 0002-drv-ssc-skip-close-in-discover.patch
	source = 0003-ssc-drivers-guard-against-null-GError-in-g_warning.patch
	source = 0004-ssc-drivers-fix-close-signal-handler.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = iio-sensor-proxy
