pkgbase = pipa-sensors
	pkgdesc = Sensors configs for the Xiaomi Pad 6
	pkgver = 1.2
	pkgrel = 2
	install = pipa-sensors.install
	arch = any
	license = MIT
	depends = xiaomi-pipa-firmware
	depends = iio-sensor-proxy
	depends = hexagonrpc
	source = 81-libssc-xiaomi-pipa.rules
	source = hexagonrpcd-sdsp.conf
	source = pipa-prepare-sensor-persist
	source = pipa-sensors-persist.service
	source = pipa-sensors-resume
	source = iio-sensor-proxy-pipa-audio.conf
	source = pipa-audio-init-sensors.conf
	source = hexagonrpcd-sdsp-pipa-sensors.conf
	source = pipa-sensors.tmpfiles
	source = pipa-sensors.install
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = pipa-sensors
