pkgbase = iio-sensor-proxy-pipa
	pkgdesc = IIO accelerometer sensor to input device proxy (with libssc support)
	pkgver = 3.7
	pkgrel = 5
	url = https://gitlab.freedesktop.org/hadess/iio-sensor-proxy
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = meson
	makedepends = gcc
	makedepends = gtk-doc
	makedepends = umockdev
	depends = dbus
	depends = glib2
	depends = hexagonrpc
	depends = libgudev
	depends = libssc>=0.2.2
	depends = polkit
	depends = systemd
	provides = iio-sensor-proxy
	conflicts = iio-sensor-proxy
	source = https://gitlab.freedesktop.org/hadess/iio-sensor-proxy/-/archive/3.7/iio-sensor-proxy-3.7.tar.gz
	source = 0001-iio-sensor-proxy-depend-on-libssc.patch
	source = 0002-proximity-support-SSC-proximity-sensor.patch
	source = 0003-light-support-SSC-light-sensor.patch
	source = 0004-accelerometer-support-SSC-accelerometer-sensor.patch
	source = 0005-compass-support-SSC-compass-sensor.patch
	source = 0006-data-add-libssc-udev-rules.patch
	source = 0007-data-iio-sensor-proxy.service.in-add-AF_QIPCRTR.patch
	source = 0008-drv-ssc-implement-set_polling.patch
	source = 0010-drv-ssc-fix-polling-lifecycle.patch
	source = 0009-tests-integration-test-add-SSC-sensors.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = iio-sensor-proxy-pipa
