pkgbase = pipa-sensors
	pkgdesc = Sensors configs for the Xiaomi Pad 6
	pkgver = 1.2
	pkgrel = 13
	install = pipa-sensors.install
	arch = any
	license = MIT
	depends = xiaomi-pipa-firmware
	depends = iio-sensor-proxy-pipa
	depends = hexagonrpc
	source = 81-libssc-xiaomi-pipa.rules
	source = hexagonrpcd-sdsp.conf
	source = pipa-prepare-sensor-persist
	source = pipa-sensors.install
	source = pipa-sensors.tmpfiles
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = pipa-sensors
