[Unit]
Description=Prepare Xiaomi Pad 6 sensor persist directories
DefaultDependencies=no
After=local-fs.target systemd-sysusers.service
Before=hexagonrpcd-sdsp.service hexagonrpcd-adsp-sensorspd.service iio-sensor-proxy.service
Wants=systemd-sysusers.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pipa-prepare-sensor-persist

[Install]
WantedBy=multi-user.target
